@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 0 10px;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    header {
        justify-content: start;
        padding: 10px 20px;
    }

    .card {
        display: flex;
        flex-direction: column;
    }
}